@import '../../../media-queries.scss';

.modal-box{
    display:none;
    width: 100%;
    height: 100vh;
    background: #2422226b;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    .content{
        background: aliceblue;
        height: 100%;
        width: 60%;
        margin: auto;
        @include xs {
            width: 100%;
          }
          @include sm {
            width: 80%;
          }
        .closebtn{
            cursor: pointer;
            margin: 15px;
            display: inline-block;
        }
        form{
            width: 70%;
            margin: auto;
            input{

            }
        }
    }
}
.show{
    display: block;
}
.hide{
    display: none;
}