.crt-box{
    display: flex;
    padding: 3% 6%;
    .crt-left{
        flex: 2;
    }
    .crt-right{
        flex: 1;
        border: 1px solid rgba(0, 0, 0, 0.1490196078);
        padding: 15px;
        border-left: 0;
        .calculations{
            hr{
                margin: 1em 0;
                border: 1px solid rgba(0, 0, 0, 0.1490196078);
                border-top: none;
            }
            .price-breakup-box{
                .rw{
                    display: flex;
                    justify-content: space-between;
                    margin: 5px 0px;
                }
            }
            .total-box{
                .rw{
                    display: flex;
                    justify-content: space-between;
                    .chckout-cta{
                        width: 100%;
                        margin-top: 2em;
                        a{
                            width: 100%;
                            padding: 1em;
                            color: #fff;
                            background: #673ab7b8;
                            border-radius: 3px;
                            background: rgba(103, 58, 183);
                            letter-spacing: 2px;
                            box-sizing: border-box;
                            display: block;
                            text-align: center;
                            text-decoration: none;
                            font-size: 13px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}