.tabl{
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    tr:nth-child(even) {
        background-color: #dddddd;
      }
      tr{
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px; 
            &.link{
              cursor: pointer;
            }           
          }
          
      }
    
}