@import '../../media-queries.scss';

.prod-container{
            
    .sort-sec{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0px;
        @include xs {
            display: none;
        }
        @include sm {
            align-items: flex-end;
        }
        .search{
            display: flex;
            flex-basis: 50%;
            align-items: baseline;
            
            input{
                margin: 0px;
                margin-right: 10px;
            }
        }
        .sort-by{
            @include sm {
                display: flex;
                flex-direction: column;
            }
            label{
                margin-right: 10px;
                @include sm {
                    margin-bottom: 6px;
                }
            }
            select{
                padding: 10px;
            }
        }
        .ppp-dropdown{
            @include sm {
                display: flex;
                flex-direction: column;
            }
            label{
                margin-right: 10px;
                @include sm {
                    margin-bottom: 6px;
                }
            }
            select{
                padding: 10px;
            }
        }
    }
    .prod-right{
        .prod-list-section{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .pagination{
            padding: 3%;
            display: flex;
            justify-content: space-between;
            a{
                text-decoration: none;
                padding: 12px 24px;
                color: #fff;
                border-radius: 4px;
                background: #ff5722;
                &.dummy{
                    visibility: hidden;
                }
            }
        }
    }
    
}