@import '../../media-queries.scss';
.prod-details-container{
    display: flex;
    margin: auto;
    margin-top: 5%;
    width: 96%;
    @include xs {
        flex-direction: column;
      }

    .pd-left{
        flex-basis: 60%;
        display: flex;
        flex-wrap: wrap;
        .img-box{
            flex-basis: 50%;

            img{
                width: 99%;
            }
        }        
    }
    .pd-right{
        padding-left: 3%;
        width: 100%;
        flex-basis: 40%;
        .pd-title{
            h3{
                margin: 1em 0;
            }
        }
        .pd-price{
            h4{
                margin: 1.33em 0 0.5em;
            }
        }
        .pd-quantity{
            margin: 1em 0;
            button{
                padding: 3px;
                width: 20px;
            }
        }
        .pd-cta-box{
            margin: 15px auto;
            @include xs {
                display: flex;
                flex-direction: column;
            }
            @include sm {
                display: flex;
            }
            .pd-cta{
                background-color: #673ab7; 
                border: 1px solid #673ab7;;
                color: white;
                padding: 13px;
                text-align: center;
                text-decoration: none;
                border-radius: 4px;
                cursor: pointer;
                margin-right: 15px;
                font-weight: bold;
                white-space: nowrap;
                
                @include sm {
                    flex: 1;
                }
                &:first-child{
                    // width: 40%;
                    @include xs {
                        margin-bottom: 8px;
                    }
                }
                &:nth-child(2){
                background-color: #fff;
                border: 1px solid #673ab7; 
                color: #673ab7;
                }
                &:disabled{
                    cursor: not-allowed;
                }
                &.fav{
                    color: #fff;
                    background-color: #F44336;
                    border-color: #F44336;

                }
            }
        }
    }
}