.alert-box{
    padding: 15px;
    background: green;
    width: 25%;
    color: #fff;
    margin: 15px;
    border-radius: 4px;
    .closebtn{
        margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
    }
}
