.co-box{
    .co-left{
        .address-box{
            .payment-type-list{
                .cod{
                    display: flex;
                    align-items: center;
                    h5{
                        margin-left: 15px;
                    }
                }
            }
        }
        
    }
}